<p>Hola Mundo</p>

<!--Interpolacion del texto: variable dinamica que puede ser visulizada-->
<div>
  <h1>IDGS 902</h1>
</div>

<div>
  {{title}}
</div>

<div> La suma de 2 + 2 es: {{2+2}}</div>

<div>El doble de 3 es:{{dupicaN(3)}}</div>

<div>
  <b>Matricula: </b>
{{alumno.matricula}}
</div>
<div>
  <b>Nombre: </b>
  {{alumno.nombre |uppercase}}
</div>
<div>
  <b>Apellido Paterno: </b>
  {{alumno.apePaterno | lowercase}}
</div>
<div>
  <b>Inscrito: </b>
  {{alumno.Inscrito | currency }}
</div>
<div>
  <b>Fecha de Nacimiento: </b>
  {{alumno.fechaNacimiento| date:"dd-MM-yy"}}
</div>

<div>
  <hr>
  <app-grupos></app-grupos>
</div>


<div>
  <hr>
  <app-idgs902></app-idgs902>
  <hr>
</div>



  <h1>IDGS:</h1>
  <app-idgs></app-idgs>

